/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@import url(https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic,700italic|Roboto+Slab:300,400,700|Roboto+Condensed:300,400,700,300italic,400italic,700italic|Ubuntu+Condensed|Oxygen:300,400,700);
@import url(https://code.cdn.mozilla.net/fonts/fira.css);

body {
	background-color: #000808;
	color: #CCFFCC;
	font-size: 11pt;
	font-family: Oxygen, sans-serif;
	font-weight: 400;
	max-width: 640px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
}

strong {
	font-weight: 700;
}

pre, code, samp, kbd {
	font-family: "Ubuntu Mono", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 500;
	font-family: "Fira Sans", sans-serif;
}

a {
	color: #00B28F;
	text-decoration: none;
	&:hover {
		text-decoration: underline;
	}
}

iframe {
	border: 0;
}

header {
	border-bottom: 1px solid #003329;
	
	h1, h2, h3, h4, h5, h6 {
		font-family: "Roboto Slab", serif;
		margin: 0;
		
		a {
			color: inherit;
			&:hover {
				text-decoration: none;
			}
		}
	}
	
	nav {
		float: right;
		font-family: "Roboto Condensed", sans-serif;
		font-weight: 300;
		font-size: 1.3em;
		
		a {
			display: inline-block;
			margin: 0;
			border-top: 2pt solid transparent;
			&:hover {
				text-decoration: none;
				border-top: 2pt solid #00B28F;
			}
		}
	}
}

footer {
	border-top: 1px solid #003329;
	font-size: 0.9em;
	text-align: center;
	margin-top: 3pt;
	
	p {
		font-family: "Ubuntu Condensed", sans-serif;
		&.hostname {
			font-family: "Ubuntu Mono", monospace;
		}
	}
	
	.left {
		float: left;
	}
	
	.right {
		float: right;
	}
}

img {
	border: 0;
}

div.toc {
	font-size: 0.8em;
	font-weight: 300;
	background-color: #000E0E;
	display: table;
	max-width: 640px;
	padding: 3pt;
	h1, h2, h3, h4, h5, h6 {
		margin-top: 0;
		margin-bottom: 3pt;
	}
	ul {
		list-style-type: none;
		padding-left: 6pt;
		margin: 0;
	}
}

.rmail {
	direction: rtl;
	unicode-bidi: bidi-override;
}

table {
	width: 100%;
	border-collapse: collapse;
}
thead {
	border: 1px solid #19473E;
}
td {
	border: 1px solid #19473E;
}
