*.pyc

# sensitive information:
config.py

# crap tmp files left by GUI text editors:
*~
*.swp

# OS X crap
.DS_Store

# the WSGI executable
*.wsgi

# updater shell scripts
*.sh

# app filesystem cache
vishwin_http/cache/
