# python setuptools
*.egg*
build/
dist/
*.pyc

# sensitive information:
config.py

# crap tmp files left by GUI text editors:
*~
*.swp

# OS X crap
.DS_Store

# the WSGI executable
*.wsgi

# app generated caches, but keep directory structure
vishwin_http/generated/css/*
!vishwin_http/generated/css/.keep
vishwin_http/generated/thumb/*
!vishwin_http/generated/thumb/.keep
