{# This Source Code Form is subject to the terms of the Mozilla Public
   License, v. 2.0. If a copy of the MPL was not distributed with this
   file, You can obtain one at http://mozilla.org/MPL/2.0/. #}
<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{% if title %}{{ title|e }}&nbsp;&ndash;&nbsp;{% endif %}Charlie Li</title>
	<link rel="stylesheet" href="/static/css/app.css">
</head>
<body>
{% include 'header.html' %}
{% block body %}
{% endblock %}
{% include 'footer.html' %}
</body>
</html>
