{# This Source Code Form is subject to the terms of the Mozilla Public
   License, v. 2.0. If a copy of the MPL was not distributed with this
   file, You can obtain one at http://mozilla.org/MPL/2.0/. #}
<header>
	<nav>
		<a href="/">Main</a>
		<a href="/Me">Me!</a>
		<a href="http://blog.vishwin.info/">Blog</a>
		<a href="/Projects">Projects</a>
		<a href="/Talks">Talks</a>
		<a href="/Bikes">Bikes</a>
		<a href="/Contact">Contact</a>
	</nav>
	<h1>{% if title %}{{ title }}{% else %}Charlie&nbsp;Li{% endif %}</h1>
</header>
